<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <h2>About her</h2>
    <nav id="navigator">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/foto-gallery">Fotos Gallery</a></li>
    </nav>
    <p>
      (Nueva York; 22 de noviembre de 1984) es una actriz, cantante y modelo
      estadounidense. Comenzó a mostrar intereses por la música y la actuación
      desde temprana edad, y a lo largo de su infancia y adolescencia se formó
      en distintos institutos como actriz. Tras tener varios papeles secundarios
      en distintas producciones, obtuvo su primer protagónico a los once años
      con la película Manny & Lo (1996), a la que luego le siguieron The Horse
      Whisperer (1998) y Ghost World (2001), actuaciones que le valieron elogios
      de la crítica.
    </p>
  </body>
</html>
