<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <h2>Ponemos fotos por ti <h1>Aaron</h1> </h2>
    <nav id="navigator">
        <li> <a href="/">Home</a> </li>
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/foto-gallery">Fotos Gallery</a></li>
    </nav>
    <div>
      <img src="Scarlett1.jpeg" alt="foto1" >
      <img src="Scarlett2.jpeg" alt="foto2" >
      <img src="Scarlett3.jpeg" alt="foto3" >
      <img src="Scarlett4.jpeg" alt="foto4" >
    </div>
  </body>
</html>
