<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scarlett Johansson</title>
  </head>
  <body>
    <h1>Scarlett Johansson</h1>

    <nav id = "navigator">
      <li> <a href="./views/home">Home</a> </li>
      <li><a href="../views/about">About</a></li>
      <li>Work</li>
      <li>Fotos Gallery</li>
    </nav>
  </body>
</html>
