<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h2>Work</h2>
    <nav id = "navigator">
        <li> <a href="/">Home</a> </li>
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/foto-gallery">Fotos Gallery</a></li>
      </nav>
      <p>
        Primeros trabajos y avances (1996-2002) Johansson comenzó a actuar durante
        la infancia, después de que su madre comenzó a llevarla a audiciones. Ella
        hizo audiciones para anuncios, pero asumía los rechazos tan duramente que
        su madre comenzó a limitarla sólo a pruebas para películas.14​ Hizo su
        debut cinematográfico a la edad de 9 años, como hija de John Ritter en la
        comedia de fantasía de 1994, North.2​ Después de papeles menores en la
        película de 1995 Causa justa, como la hija de Sean Connery y Kate Capshaw,
        y If Lucy Fell en 1996, interpretó el papel de Amanda en Manny & Lo
        (1996). Su actuación en Manny & Lo obtuvo una nominación para el premio
        Independent Spirit a la mejor actriz,2​ y comentarios positivos, uno de
        ellos observando, «[la película] crece en ti, en gran medida por el
        encanto de Scarlett Johansson»,15​ mientras que el crítico de San
        Francisco Chronicle Mick LaSalle comentó sobre su «aura pacífica» y
        escribió «Si puede conseguir atravesar la pubertad con esa aura
        imperturbable, podría convertirse en una actriz importante».16​ Después de
        aparecer en papeles menores en Fall y Mi pobre angelito 3 en 1997,
        Johansson ampliamente atrajo la atención por su actuación en la película
        de 1998 El hombre que susurraba a los caballos, dirigida por Robert
        Redford.2​ Ella recibió una nominación de la Asociación de Críticos de
        Cine de Chicago a la Actriz Más Prometedora por la película.17​18​ En
        1999, apareció en My Brother the Pig y en 2001 en la película neo-noir de
        los hermanos Coen El hombre que nunca estuvo. Aunque la película no fue un
        éxito de taquilla,19​ recibió elogios por su papel en Ghost World
        (2001),20​21​ siendo acreditada con poseer una «sensibilidad y talento
        [que] desmienten su edad».22​ En el año 2002, apareció en Eight Legged
        Freaks.23
      </p>
</body>
</html>