#navigator {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100px;
    align-items: center;
    font-size: 3em;
    color: blue;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    color: red;

}
h2 {

    text-align: center;

}